<h1>Editing <%= @unit.name %>: </h1><br><br>
<%= form_for @unit do |f| %>
<%= f.label "Unit Name" %>
<%= f.text_field :name %><br>
<%= f.label "Role"%>
<%= f.text_field :role %><br>
<%= f.label "Scale" %>
<%= f.text_field :scale %><br>
<%= f.label "Abilities:" %>
<%= f.collection_check_boxes :abilities, Ability.all, :id, :name %><br>
<%= f.submit %>
<% end %>
<p></p>
<%= form_for @unit, method: :delete do |f| %>
<%= f.submit "Remove #{@unit.name}" %>
<% end %>
